absl-py==2.1.0
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.12.3
bitarray==3.6.0
bitstring==4.3.1
blinker==1.9.0
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==2.1.1
click==8.2.1
colorama==0.4.6
comtypes==1.4.13
contourpy==1.3.0
cryptography==45.0.6
cv==1.0.0
cycler==0.12.1
deap==1.4.2
deep-sort-realtime==1.3.2
distlib==0.3.9
dnspython==2.7.0
docutils==0.21.2
esptool==5.0.2
et_xmlfile==2.0.0
fastapi==0.115.5
filelock==3.15.4
Flask==3.1.1
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.6.1
future==1.0.0
fuzz==0.1.1
gast==0.6.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
greenlet==3.3.2
grpcio==1.66.2
h11==0.16.0
h5py==3.12.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.10
importlib_metadata==8.5.0
imutils==0.5.4
iniconfig==2.3.0
intelhex==2.3.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.6.2
jaxlib==0.6.2
Jinja2==3.1.4
joblib==1.4.2
keras==3.5.0
keyring==25.4.1
kiwisolver==1.4.7
libclang==18.1.1
lxml==6.0.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplot==0.1.9
matplotlib==3.9.2
maven==0.0.6
mdurl==0.1.2
mediapipe==0.10.21
MiniSom==2.3.5
ml_dtypes==0.5.1
more-itertools==10.5.0
mpmath==1.3.0
mpremote==1.26.0
namex==0.0.8
network==0.1
networkx==3.3
nh3==0.2.18
nltk==3.9.1
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.12.1
packaging==24.1
pandas==2.2.3
pathlib==1.0.1
pillow==10.4.0
pkginfo==1.10.0
platformdirs==4.3.8
pluggy==1.6.0
protobuf==4.25.5
psutil==6.1.1
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pykalman==0.9.7
pyloco==0.0.139
pymongo==4.11.1
pymssql==2.3.13
pyodbc==5.3.0
pyparsing==3.2.0
pypiwin32==223
pyserial==3.5
pyswarm==0.6
pyswarms==1.3.0
pytest==9.0.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
pyttsx3==2.90
pytz==2024.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
readme_renderer==44.0
reedsolo==1.7.0
regex==2024.11.6
reportlab==4.2.2
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.1
rich-click==1.8.9
scikit-fuzzy==0.5.0
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==75.8.0
SimpleWebSocketServer==0.1.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.2
soupsieve==2.6
SQLAlchemy==2.0.48
starlette==0.41.3
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.5.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
twine==5.1.1
typing==3.7.4.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.1
ultralytics==8.3.31
ultralytics-thop==2.0.14
urllib3==1.26.20
ushlex==0.99.1
uvicorn==0.30.6
virtualenv==20.31.2
watchfiles==1.1.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wordcloud==1.9.4
wrapt==1.16.0
xlrd==2.0.2
zcatalyst_sdk==1.0.1
zipp==3.20.2
